body {
  margin: 0;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* Intro */

.intro {
  height: 577px;
  margin-top: 60px;
}

.title__intro,
.footer__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  margin: 38px 0 30px;
}

/* Subtitle */

.subtitle__intro,
.footer__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}
/* Cow */

.img__suncow {
  margin-top: 100px;
}

.img__cow {
  margin: 105px;
}

.cow__back {
  width: 465px;
  height: 465px;
  background: linear-gradient(180deg, #ffe195 0%, #ff5b5b 100%);
  border-radius: 70px;
}
/* Collums */

.collum__all {
  width: 100%;
  height: 465px;
  display: flex;
  justify-content: space-between;
}

.collum__one {
  width: 465px;
  height: 389px;
}

.collum__footer {
  width: 1110px;
  height: 486px;
  background: linear-gradient(102deg, #fff6df 17.38%, #ffdfde 81.25%);
  border-radius: 60px;
  display: flex;
  justify-content: space-around;
}

.collume__three {
  width: 475px;
  height: 435px;
  margin: auto 0;
}
/* Logo */

.logo__intro {
  width: 100%;
  height: 30px;
  padding-bottom: 82px;
}

/* Button */

.button__intro,
.button__footer {
  width: 227px;
  height: 69px;
  background: #ff6861;
  border-radius: 100px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

/* Block */

.block {
  width: 720px;
  height: 316px;
}

/* Main */

.main {
  margin: 0 auto;
  width: 720px;
  height: 422px;
  margin-top: 120px;
}

.main__head {
  text-align: center;
}

.main__header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.main__title {
  width: 520px;
  height: 42px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.main__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.main__text {
  margin-left: 34px;
}

.main__one {
  width: 720px;
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-top: 70px;
}

.main__two,
.main__three {
  width: 720px;
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-top: 41px;
}

/* Footer */

.footer {
  margin-top: 120px;
}

.footer__text {
  text-align: center;
  margin: 120px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
